.AboutMe {
  font-family: BROKEN MIRROR;
  background-color: aliceblue;
  min-height: 100vh;
}
.AboutMe h2 {
  color: burlywood;
  margin-bottom: 1.6rem;
  font-size: 1.9rem;
}
.AboutMe h3,
li {
  margin-bottom: 1.3rem;
  font-size: 1.3rem;
}
.AboutMe h3 {
  color: var(--grayText);
}

.AboutMe .tab img {
  transform: rotate(90deg);
}

.container-info {
  padding-top: 3.6rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contact {
  align-self: flex-start;
}
.contact ul {
  list-style: none;
  display: flex;
  margin-top: 1.6rem;
}
.contact ul a {
  color: burlywood;
  margin: 0 1.3rem;
}
.contact li {
  font-weight: 900;
}
.stack {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 3rem;
}
.front {
  margin-bottom: 3rem;
}
.front,
.back {
  min-height: 150px;
}
.logos {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  column-gap: 1.6rem;
  row-gap: 3rem;
}
.logo {
  border-radius: 10%;
  background: linear-gradient(to right, #fff0bd, #fcffed);
  background-size: 200%;
  height: 130px;
  width: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-position: 200%;
}
.logo p {
  opacity: 0;
}

.logo:hover {
  animation-fill-mode: forwards;
  animation: moveBackground 1s ease-in-out;
}
.logo:hover > p {
  animation: textIn 0.5s 0.5s forwards;
}
@keyframes textIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes moveBackground {
  0% {
    background-position: 0%;
  }
  50% {
    background-position: 200%;
  }

  100% {
    background-position: 200%;
  }
}
.logo p {
  margin-top: 10px;
  text-align: center;
}
.logo img {
  object-fit: contain;
  height: 70px;
  width: 70px;
}

@media (max-width: 950px) {
  .resume img {
    height: 50px;
  }
  .resume p {
    padding: 0rem 3rem;
  }
  .contact {
    margin: 3rem 0;
  }
  .container-info {
    grid-template-columns: 1fr;
    place-items: center;
  }
  .stack {
    margin-top: 3rem;
    margin-bottom: 6rem;
    text-align: center;
    align-items: center;
  }
  .front {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .logos {
    display: flex;
    margin: 0;
    justify-content: center;
    max-width: 600px;
  }
  .logo img {
    height: 50px;
    width: 50px;
  }
}

.resume {
  display: grid;
  place-items: center;
}

.resume p {
  padding: 0rem 3rem;
  line-height: 3rem;
  font-family: "Courier New", Courier, monospace;
}

a > img {
  height: 35px;
}
