.Information{
  font-family: BROKEN MIRROR;
  background-color: aliceblue;
  min-height: 100vh;
}
.Information h2{
  color: burlywood;
  margin-bottom: 1.6rem;
  font-size: 1.9rem;
}
.Information h3,li{
  margin-bottom: 1.3rem;
  font-size: 1.3rem;
}
.Information h3{
  color: var(--grayText);
}

.Information .tab img{
display: none;
}

.container-info{
  padding-top: 6rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contact{
  padding-left: 1.6rem;
}
.contact ul{
  list-style: none;
}
.contact ul a{
  color:burlywood;
}
.contact li{
  font-weight: 900;
}
.stack{
  justify-self: center;
  padding: 0 1.6rem;
}
.front{
  margin-bottom: 1.6rem;
}
.front,.back{
  min-height: 300px;
}
.logos{
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: 1fr 1fr 1fr;
}
.logo{
  margin: 1.6rem;
  padding: 1.6rem;
  border-radius: 10%;
  background-color: rgb(253, 245, 217);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo p{
  margin-top: 10px;
  text-align: center;
  display: none;
}
.logo img {
  object-fit: contain;
  height: 70px;
  width: 70px;
}

@media (max-width:950px) {
  .contact{
    margin-bottom: 3rem;
  }
  .container-info{
    grid-template-columns: 1fr;
    place-items: center;
  } 
  .stack{
    text-align: center;
    align-items: center;
  }
.front{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logos{
  display: flex;
  margin: 0;
  justify-content: center;
  max-width: 600px;
}
 .logo img{
    height: 50px;
    width: 50px;
  }
}