header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1.6rem 3rem;
}

.section-tabs{
    display: flex;
    flex-direction: row;
}
.section-tabs >*{
    margin-right: 10px;
}

#menuTab{
    display: none;
}
@media (max-width:750px) {
header{
    flex-direction: column;
}
header h6{
    font-size: 1rem;
}
header .section-tabs{
    flex-direction: column;
}
header > a {
    max-width: 300px;
    margin-bottom: 3rem;
}
header .section-tabs > a{
    max-width: 200px;
}

}

@media (max-width:490px) {
    #resumeTab{
        display: none;
    }
    header{
        justify-content: center;
    }
}