.App {
  text-align: center;
  min-height: 100vh;
  width: 100%;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
}
body{
  background-color: rgb(131, 131, 131);
  min-height: 100vh;

  background-color: aliceblue;
}

a li:hover{
  color: var(--grayText);
}